/***************************************************** FONTS *****************************************************/
@CHARSET "ISO-8859-1";

@import url(http://weloveiconfonts.com/api/?family=fontawesome); /* Fuentes de iconos*/

	/* fontawesome */
	[class*="fontawesome-"]:before {
	  font-family: 'FontAwesome', sans-serif;
	}

/***************************************************** GENERAL *****************************************************/
body {
	margin:0;
	background: #fff;
	font-family: sans-serif;
	min-width: 300px;
}

input {
	font-size: 15px;
	outline: none;
	padding: 2px 5px;
}
	input:focus {
		box-shadow: 0 0 5px #997F64;
		border: 2px solid rgba(153, 127, 100, 0.63);
	}
	
input[readonly="readonly"] {
	background: #FFEEDD;
	outline: initial;
}
	input[readonly="readonly"]:focus {
		outline: initial;
		box-shadow: initial;
		border: 2px inset;
	}

select,
textarea {
	outline: none;
	padding: 2px 5px;
}
	select:focus,
	textarea:focus {
		box-shadow: 0 0 5px #997F64;
		border: 1px solid #997F64;
	}
	select:focus option:hover,
	select option:hover { 
	    color: white;
	    background: #488f8f repeat url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVQIW2OcWZ/yHwAFsgJ9gwqESgAAAABJRU5ErkJggg==");
	}
	select:focus option:checked {
		color: white;
	    background: #488f8f repeat url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVQIW2O0VRf6DwAClgF34DiKsQAAAABJRU5ErkJggg==");
	}

.clear {
	clear: both;
}
.invisible {
	display: none;
}
.visible_inline {
	display: inline-block;
}
.left {
	float: left;
}
.right {
	float: right;
}
.error {
	color: #C02929;
	font-style: italic;
    font-size: 18px;
}
.mensaje_correcto {
	color: #3B5300;
    font-size: 18px;
}
	span.error,
	span.mensaje_correcto {
		font-size: 20px;
		cursor: help;
	}

/***************************************************** ENCABEZADO *****************************************************/
header {
	margin: 0;
	border-top: 5px solid #3D2712;
	padding: 0 0 0 5%; 
	background: #fff;
	color: white;
}
	header .logo {
		width: 300px;
	}
		header .logo img {
			padding-top: 10px;
	}
	header .cabecera_secundaria {
		background: #997F64;
		height: 114px;
		width: 70%;
		border-bottom-left-radius: 110px;
		border-top-left-radius: 60px;
	}
		.social {
			margin: 33px 160px;
		}
			.social .icon {
				text-decoration: none;
				color: #3D2712;
				font-size: 34px;
				margin: 40px 10px;
			}
				.social .icon.facebook:hover {
					color: #191D0F;
				}
				.social .icon.twitter:hover {
					color: #191D0F;
				}

/***************************************************** MENÚ NAVEGACIÓN *****************************************************/
nav {
	background: #3D2712;
	padding: 0px 5%;
	height: 58px;
}
	#desplegable {
		display: none;
	}
	.buscador {
		display: block;
		width: 200px;
		position: relative;
	}
		.buscador .texto_busqueda {
			position: absolute;
			top: 17px;
			right: 120px;
			padding-left: 22px;
			outline: none;
		}
			.buscador .texto_busqueda:focus { 
			    box-shadow: 0 0 5px #997F64;
				border: 2px solid rgba(153, 127, 100, 0.63);
			}
		.buscador .lupa {
			position: absolute;
			left: -100px;
			top: 19px;
			font-size: 17px;
			color: #191D0F;
		}
	nav ul {
		list-style: none;
		padding: 0px;
		margin: 0 auto;
	}	
		nav ul li {
			display: inline;
			float: left;
		}
			nav ul li a {
				font-family: Helvetica, sans-serif;
				color: #fff;
				text-decoration: none;
				font-size: 16px;
				display: block;
				padding: 20px;
				background: #3D2712;
			}
				nav ul li a:hover {
					background: #191D0F;
					border-bottom-left-radius: 110px;
					border-top-left-radius: 60px;
				}
				
/***************************************************** USUARIO / CARRITO *****************************************************/
				
.usuario_carrito {
	position: relative;
	margin-right: 80px;
}
	.usuario, .carrito {
		display: inline-block;
	}
	.usuario {
		margin: 0;
		padding: 16px;
	}
		.caja_inicia_sesion {
			width: 255px;
			display: block;
			text-align: right;
		}
		.inicia_sesion,
		.cierra_sesion {
			text-decoration: none;
			color: #191D0F;
			font-weight: bold;
		}
			.inicia_sesion:hover,
			.cierra_sesion:hover {
				text-decoration: underline;
			}
					

	.carrito {
		font-size: 40px;
		width: 50px;
		height: 50px;
		border-radius: 100%;
		background: #303427;
		border: 1px solid #20211F;
		position: absolute;
	    top: -54px;
  			right: 16px;
  			text-decoration: none;
	}
		.carrito:hover {
			background: #25291C;
		}
		.carrito .icon {
			position: relative;
		    left: 5px;
		    top: 3px;
		    color: #fff;
		}
			.carrito:hover .icon{
			color: #ddd;
		}
		.cantidad_pedidos {
			background: #6F876D;
			border-radius: 100%;
			padding: 2px;
			font-size: 14px;
			font-weight: bold;
			width: 16px;
			height: 16px;
			color: #fff;
			position: absolute;
			z-index: 20;
			text-align: center;
			left: -8px;
  				top: -5px;
  				transition: all .5s;
		}
			.carrito:hover .cantidad_pedidos{
				/* Firefox */
				-moz-transform: rotate(360deg);
				/* WebKit */
				-webkit-transform: rotate(360deg);
				/* Opera */
				-o-transform:rotate(360deg) ;
				/* Standard */
				transform: rotate (360deg);
			}
				


/***************************************************** CONTENIDO *****************************************************/
#cuerpo{
}

	/*TEMPORAL*/

	/*CONTENEDOR PRODUCTOS*/
	.contenedor_producto {
		width: 180px;
		height: 270px;
		float: left;
		padding: 0 32px;
		position: relative;
		opacity: 0.90;
		filter: alpha(opacity=90);
	}
		.contenedor_producto a {
			text-decoration: none;
			color: black;
		}
		.contenedor_producto:hover {
			opacity: 1;
			filter: alpha(opacity=100);
		}
		.novedad,
		.oferta {
			position: absolute;
			top: 5px;
			right: 5px;
			color: white;
			text-align: center;
		}
		.novedad .etiqueta_nuevo{
			width: 90px;
			height: 90px;
		}
		.oferta {
			width: 32px;
			background: #997F64;
			padding: 12px 6px;
    		border-radius: 30px;
    		font-size: 18px;
		}
		.contenedor_producto img {
			width: 180px;
			height: 180px;
		}
		.nombre_producto {
			font-size: 18px;
    		text-align: center;
    		margin: 0;
		}
		.detalles p {
			width: 90px;
			font-size: 15px;
			display: inline-block;
			width: 86px;
			text-align: center;
			vertical-align: middle;
			margin: 5px 0 0 0;
		}
			.categoria {
				line-height: 30px;
				overflow: hidden;
			}
			.precio {
				border-left: 1px solid #ccc;
			}
				.precio_antes {
					color: red;
					font-size: 12px;
				}

	/**********/
	/* INICIO */
	/**********/
	.contenedor_inicio {
		max-width: 1500px;
		margin: 20px auto;
	}	
		.columnas_inicio {
			width: 732px;
		}
			.columnas_inicio h1 {
				padding-left: 32px;
			}
		.ofertas {
			border-right: 1px solid #ccc;
			padding-right: 30px;
		}
	
	/************/
	/* CATÁLOGO */
	/************/
	.contenedor_catalogo {
		margin: 0px 30px;
		height: 444px;
	}
		#seleccionar_producto {
			margin: 1px;
			width: 300px;
			font-size: 16px;
			border: none;
			cursor: pointer;
			float: left;
			-webkit-box-shadow: 5px 5px 5px -5px rgba(153,127,100,1);
			-moz-box-shadow: 5px 5px 5px -5px rgba(153,127,100,1);
			box-shadow: 5px 5px 5px -5px rgba(153,127,100,1);
		}
		.contendor_producto_detallado {
			padding: 20px;
			width: 850px;
			height: 360px;
			position: relative;
			margin: 40px 0 0 30px;
			background: #EDEDED;
		}
			.contendor_producto_detallado .nombre_producto {
				font-size: 36px;
				float: left;
				width: 450px;
				text-align: center;
				color: #191D0F;
			}
			.contendor_producto_detallado .detalles {
				float: left;
				width: 440px;
			}
				.contendor_producto_detallado .detalles h2 {
					margin-bottom: 0;
					color: #191D0F;
				}
				.contendor_producto_detallado .detalles p {
					font-size: 17px;
					width: 100%;
					display: block;
					text-align: justify;
				}
				.contendor_producto_detallado .detalles .precio_antes {
					font-size: 16px;
					text-decoration: line-through;
				}
			.contendor_producto_detallado .imagen {
				width: 360px;
				height: 360px;
				background: grey;
				position: absolute;
				top: 20px;
				right: 20px;
			}
				.contendor_producto_detallado .imagen img {
					width: 360px;
					height: 360px;
				}
				.contendor_producto_detallado .imagen .especial {
					position: relative;
				}
					.contendor_producto_detallado .imagen .especial .oferta {
						padding: 17px 6px;
						width: 42px;
						top: -356px;
						cursor: default;
					}
					.contendor_producto_detallado .imagen .especial .etiqueta_nuevo {
						height: 150px;
						width: 150px;
						top: -365px;
					    right: 0;
					    position: absolute;
					}

	
	/*****************/
	/* QUIENES SOMOS */
	/*****************/
	
	/************/
	/* CONTACTO */
	/************/
	
	/******************/
	/* MAPA DEL SITIO */
	/******************/
	
	/***********/
	/* COOKIES */
	/***********/
	
	/**************************/
	/* POLITICA DE PRIVACIDAD */
	/**************************/
	
	/***************/
	/* AVISO LEGAL */
	/***************/
	
	/******************/
	/* ADMINISTRACIÓN */
	/******************/
	
	#cuerpo_admin {
		margin: 20px 100px;
	}
	
	.nav_admin a {
		padding: 20px 100px 20px 40px;
	}
	.titulo_admin {
		color: #191D0F;
		margin: 28px 0 0 7%;
    	font-size: 40px;
    	font-style: italic;
	}
	
	.enlace_volver {
		color: #3D2712;
    	text-decoration: none;
    	font-weight: bold;
    	margin: 30px 0 100px;
    	display: block;
	}
		.enlace_volver:hover span.estilo {
			text-decoration: underline;
		}
	
	.formularios_producto,
	.formularios_categoria {
		width: 375px;
		padding: 10px;
		display: inline-table;
	}
	
	.opciones_admin {
		margin: 20px 0;
		padding: 15px;
		-webkit-box-shadow: 1px 1px 3px 0px rgba(153,127,100,1);
		-moz-box-shadow: 1px 1px 3px 0px rgba(153,127,100,1);
		box-shadow: 1px 1px 3px 0px rgba(153,127,100,1);
	}
	
		.opciones_admin h1 {
			color: #191D0F;
			font-size: 18px;
			font-family: sans-serif;
			margin-top: 0;
		}		
		.opciones_admin input[type="number"] {
		   width:100px;
		}
		.opciones_admin label {
			font-weight: bold;
			color: #191D0F;			
		}
			.opciones_admin label.etiqueta_categoria {
				font-weight: normal;
			}
		
		.contenedor_nueva_categoria {
			position: relative;
		}
			.mensaje_nueva_categoria {
				position: absolute;
				top: 87px;
    			right: 20px;
			}
			
		.contenedor_modificar_categoria {
			position: relative;
		}
			.mensaje_modificar_categoria {
				position: absolute;
				bottom: 0px;
    			left: 20px;
			}
			#modificar_categorias {
				width: 172px;
				font-size: 16px;
				margin: 10px 10px 22px 0;
			}
			#nombreModificarCategoria {
				width: 120px;
			}
			#btnModificarCategoria {
				float: right;
				margin-top: 25px;
			}
		
		.contenedor_nuevo_producto {}
			.contenedor_nueva_categoria input,
			.contenedor_nuevo_producto input{
				margin: 10px 4px;
				font-size: 15px;
			}
			#campoNuevoProducto {
				display:none;
			}
					
		.contenedor_modificar_producto {}
			#modificar_productos {
				font-size: 16px;
				margin: 10px 10px 22px 0;
				width: 300px;
			}
				#btnModificarProducto {
					float: right;
				}
				
		.contenedor_datos_producto {
			width: 475px;
		}
			.contenedor_datos_producto input,
			.contenedor_datos_producto textarea {
				margin: 10px 4px;
				font-size: 15px;
			}
			#precio {
				width: 64px;
				margin-bottom: 20px;
			}
			#caracteristicas {
				margin: 4px 10px 10px;
				width: 400px;
				height: 90px;
			}
			#tipo_producto {
				width: 100px;
				height: 24px;
				font-size: 16px;
				margin: 10px 10px 22px 0;
			}
			#descuento {
				width: 52px;
				margin-right: 0;
			}
			#imagen {
				margin: 4px 0 25px;
			}
				.bloque_imagen {
					margin-top: 16px;
				}
			#botonBorrarProducto,
			.contenedor_datos_producto input[type="submit"] {
				float: right;
			}

/***************************************************** PIE DE PÁGINA *****************************************************/
footer {
	margin-top: 100px;
	border-top: 4px black solid;
	background: #191D0F;
	height: 50px;
}
	footer .left {
		padding-left: 10%; 
	}
	footer .right {
		padding-right: 10%; 
	}
	footer a {
		font-size: 14px;
		color: #ddd;
		font-weight: bold;
		text-decoration: none;
	}
		footer a:hover {
			text-decoration: underline;
		}
	footer p {
		line-height: 50px;
		margin: 0;
		padding: 0 10% 0 0;
		color: #CED7B8;
		display: inline-block;
	    font-size: 14px;
	}
	
/***************************************************** QUERIES ***********************************************************/

@media screen and (max-width: 1550px) {
	.contenedor_inicio {
		max-width: 1010px;
		margin: 20px auto;
	}
		.columnas_inicio {
			width: 488px;
		}
}

@media screen and (max-width: 1300px) {
	
	/*HEADER*/
	header .cabecera_secundaria {
		width: 60%;
	}
	
	nav ul li a {
		padding: 20px 13px;
	}
		
	/*FOOTER*/
	footer {
		height: initial;
	}
	footer p.elementos_pie {
		float: none;
		line-height: initial;
		padding: 15px 4%;
	} 

}

@media screen and (max-width: 1024px) {

	/*HEADER*/
	header .cabecera_secundaria {
		width: 45%;
	}
	.social {
			margin: 33px 70px;
	}
	
	/*NAV*/
	.nav {
		position: relative;
	}	
		#desplegable {
			display: block;
			float: left;
			color: #fff;	
			text-decoration: none;
			font-size: 30px;
			margin: 12px;
		}		
		.nav ul {
			position: absolute;
			top: 58px;
			left: 0px;
			z-index: 10;
		}
		.nav .menu_invisible { /* Función toggle en la librería JS */
			display: none;
		}
			.nav ul li {
				display: block;
				float: none;
			}
				.nav ul li a {
					padding: 15px 55px;
				}
					.nav ul li a:hover {
						border-bottom-left-radius: 0;
						border-top-left-radius: 0;
					}
	
		.carrito {
			right: 6px;
		}
		
	/* INICIO */
	.contenedor_inicio {
		width: 546px;
	}
		.columnas_inicio {
			width: 250px;
		}
		.ofertas {
			padding-right: 30px;
		}
		.novedades {
			padding-left: 15px;
		}
	
	/*FOOTER*/
	footer p.elementos_pie {
		padding: 15px 0;
		display: block;
		text-align: center;
	} 
}

@media screen and (max-width: 800px) {
	
	/*ADMIN*/
	
	#cuerpo_admin {
		width: 450px;
		margin: 20px auto;
	}
	
	.titulo_admin {
		margin: 30px 0 0 3%;
    	font-size: 28px;
	}

	
}

@media screen and (max-width: 600px) {
	
	/*HEADER*/
	header .logo {
		width: 70%;
	}
		header .logo img {
			padding-top: 10px;
			width: 100%;
	}
	header .cabecera_secundaria {
		width: 20%;
		background: none;
		height: 100%;
	}
		.social {
			margin: 10% 30px;;
		}
	
	.titulo_admin {
		margin: 0;
    	font-size: 30px;
	}
	
	/*NAV*/
		
	.buscador .texto_busqueda {
		right: 120px;
		width: 110px;
	}
	.buscador .lupa {
		left: -58px;
	}
	
	/*BODY*/
	.contenedor_inicio {
		width: 275px;
	}
	
	/* INICIO */
	.columnas_inicio {
		float: none;
	}
	.ofertas {
		padding-right: 0;
		border: none;
	}
	.novedades {
		padding-left: 0;
	}
	
	/* ADMIN */
	#cuerpo_admin {
		margin: 20px auto;
	}
		.contenedor_datos_producto {
			width: 90%;
		}

}

@media screen and (max-width: 480px) {
	
	/*NAV*/
	
	.buscador .texto_busqueda {
		right: 73px;
		width: 110px;
	}
	.buscador .lupa {
		left: -12px;
	}
	
	
	/*CARRITO*/
	.usuario_carrito {
		float: none;
		margin: 0;
	}
	
	.carrito {
		right: 25px;
	}
	
	.bienvenido,
	.inicia_sesion,
	.cierra_sesion {
		display:block;
	}
	
	/*ADMIN*/
	#cuerpo_admin {
		width: 100%;
	}
		#caracteristicas {
			width: 310px;
			height: 108px;
		}

}